@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

em, i {
  font-style: normal; }

a {
  outline-style: none;
  color: #000;
  text-decoration: none; }

img {
  display: block; }

input {
  border: none;
  outline: none; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.top, #search, .nav, .help, .help-catalog, .links, .register, .footer, #content {
  width: 1200px;
  margin: 0 auto; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

#FrameTop {
  height: 30px;
  background: #f5f5f5; }

.top {
  height: 30px;
  line-height: 30px;
  font-size: 12px; }
  .top .topL {
    width: 300px;
    height: 30px;
    float: left; }
    .top .topL span {
      margin-right: 23px; }
  .top .topR {
    width: 437px;
    height: 30px;
    float: right; }
    .top .topR .xL {
      width: 66px;
      height: 30px;
      float: left;
      position: relative;
      z-index: 99; }
      .top .topR .xL ul {
        width: 66px;
        position: absolute;
        display: none;
        text-align: center;
        background: white; }
        .top .topR .xL ul a {
          display: block;
          width: 66px;
          height: 30px; }
      .top .topR .xL a {
        margin: 0; }
    .top .topR .xL:hover {
      background: white; }
      .top .topR .xL:hover ul {
        display: block; }
        .top .topR .xL:hover ul li a:hover {
          background: #1eaa39; }
    .top .topR .a-cart {
      display: block;
      float: left;
      height: 30px; }
    .top .topR .a-cart:hover {
      background: white; }
    .top .topR .a-erWei {
      position: relative; }
      .top .topR .a-erWei img {
        position: absolute;
        top: 22px;
        left: 0;
        display: none;
        z-index: 99; }
    .top .topR .a-erWei:hover img {
      display: block; }
    .top .topR a {
      margin: 0 5px; }
    .top .topR .i-right {
      display: inline-block;
      width: 6px;
      height: 3px;
      vertical-align: middle;
      background: url(../images/top_icon.png) no-repeat -96px -56px; }
    .top .topR .i-cart {
      display: inline-block;
      width: 12px;
      height: 11px;
      vertical-align: middle;
      background: url(../images/top_icon.png) no-repeat -54px -56px; }
    .top .topR .i-num {
      text-align: center;
      line-height: 16px;
      color: white;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      background: url(../images/top_icon.png) no-repeat -10px -56px; }
    .top .topR .i-phone {
      margin-right: 3px;
      display: inline-block;
      width: 8px;
      height: 12px;
      vertical-align: middle;
      background: url(../images/top_icon.png) no-repeat -36px -56px; }
    .top .topR .i-map {
      margin-right: 3px;
      display: inline-block;
      width: 8px;
      height: 12px;
      vertical-align: middle;
      background: url(../images/top_icon.png) no-repeat -76px -56px; }

#search {
  height: 100px;
  padding-top: 16px; }
  #search .logo {
    float: left; }
  #search .searchC {
    float: left;
    margin: 14px 0 0 98px; }
    #search .searchC .searchCT {
      position: relative;
      width: 498px;
      height: 36px;
      margin-bottom: 9px; }
      #search .searchC .searchCT .hint {
        position: absolute;
        z-index: 2;
        top: 40px;
        left: 0px;
        width: 495px;
        background: white; }
        #search .searchC .searchCT .hint li {
          width: 485px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          padding-left: 10px; }
      #search .searchC .searchCT .src-search {
        padding-left: 30px;
        float: left;
        width: 380px;
        height: 34px;
        border: 2px solid #1A9733;
        background: white url(../images/search_bg.jpg) 8px center no-repeat; }
      #search .searchC .searchCT .btn {
        width: 80px;
        height: 40px;
        background: #1A9733;
        float: left;
        font-size: 14px;
        color: white;
        cursor: pointer; }
    #search .searchC .searchHot {
      font-size: 12px;
      color: #939393; }
      #search .searchC .searchHot a {
        color: #939393; }
      #search .searchC .searchHot a:hover {
        color: #1eaa39; }

#FrameNav {
  height: 40px;
  border-bottom: 2px solid #1A9733; }

.nav {
  height: 40px; }
  .nav .navL {
    float: left;
    width: 240px;
    height: 40px;
    background: #1a9733;
    line-height: 40px;
    position: relative; }
    .nav .navL a {
      color: white;
      font-size: 12px;
      margin: 15px 0 0 20px;
      font-weight: bold; }
    .nav .navL span {
      float: right;
      background: url(../images/icon_01.jpg) no-repeat;
      width: 14px;
      height: 14px;
      margin: 12px 12px 0 0; }
    .nav .navL .all-kind {
      display: none;
      z-index: 99;
      position: absolute;
      background: black;
      padding-top: 2px;
      height: 488px;
      top: 40px;
      left: 0; }
      .nav .navL .all-kind a {
        display: block;
        width: 211px;
        height: 37px;
        margin: 0;
        padding-left: 29px;
        font-size: 14px; }
      .nav .navL .all-kind a:hover {
        background: #1A9733; }
      .nav .navL .all-kind li:hover .kind-meat {
        display: block; }
      .nav .navL .all-kind li:hover .kind-seafood {
        display: block; }
      .nav .navL .all-kind .kind-meat {
        display: none;
        background: pink;
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 239px;
        width: 560px;
        height: 472px; }
        .nav .navL .all-kind .kind-meat .product {
          float: left;
          width: 320px;
          height: 472px;
          background: #F5F5F5; }
          .nav .navL .all-kind .kind-meat .product a:hover {
            background: #F5F5F5; }
          .nav .navL .all-kind .kind-meat .product dt a {
            font-size: 14px;
            color: #1A9634; }
        .nav .navL .all-kind .kind-meat .brand {
          float: left;
          width: 210px;
          height: 472px;
          padding-left: 30px;
          background: #f9f9f9; }
          .nav .navL .all-kind .kind-meat .brand a {
            display: inline;
            height: 0;
            width: 0; }
          .nav .navL .all-kind .kind-meat .brand a:hover {
            background: #f9f9f9; }
          .nav .navL .all-kind .kind-meat .brand h2 {
            font-size: 14px;
            color: #1A9634;
            font-weight: bold; }
          .nav .navL .all-kind .kind-meat .brand ul li {
            width: 86px;
            height: 37px;
            float: left; }
        .nav .navL .all-kind .kind-meat a {
          color: black; }
      .nav .navL .all-kind .kind-seafood {
        display: none;
        background: pink;
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 239px;
        width: 560px;
        height: 472px; }
        .nav .navL .all-kind .kind-seafood .product {
          float: left;
          width: 320px;
          height: 472px;
          background: #F5F5F5; }
          .nav .navL .all-kind .kind-seafood .product a:hover {
            background: #F5F5F5; }
          .nav .navL .all-kind .kind-seafood .product dt a {
            font-size: 14px;
            color: #1A9634; }
        .nav .navL .all-kind .kind-seafood .brand {
          float: left;
          width: 210px;
          height: 472px;
          padding-left: 30px;
          background: #f9f9f9; }
          .nav .navL .all-kind .kind-seafood .brand a {
            display: inline;
            height: 0;
            width: 0; }
          .nav .navL .all-kind .kind-seafood .brand a:hover {
            background: #f9f9f9; }
          .nav .navL .all-kind .kind-seafood .brand h2 {
            font-size: 14px;
            color: #1A9634;
            font-weight: bold; }
          .nav .navL .all-kind .kind-seafood .brand ul li {
            width: 86px;
            height: 37px;
            float: left; }
        .nav .navL .all-kind .kind-seafood a {
          color: black; }
  .nav .navC {
    float: left;
    width: 900px;
    height: 40px;
    padding-left: 40px; }
    .nav .navC li {
      float: left;
      line-height: 40px; }
      .nav .navC li a {
        height: 40px;
        padding: 0 10px 0 20px;
        float: left; }
      .nav .navC li span {
        float: left;
        line-height: 42px; }
    .nav .navC .first a {
      padding: 0;
      margin-right: 10px;
      color: #1a9634;
      border-bottom: 2px solid #1A9634;
      height: 38px; }
    .nav .navC .li-hot {
      position: relative; }
      .nav .navC .li-hot .i-hot {
        position: absolute;
        background: url(../images/new.gif) no-repeat;
        width: 23px;
        height: 8px;
        top: 2px;
        right: -2px; }

.contentL {
  width: 950px;
  overflow: hidden;
  float: left; }

.banner {
  padding-top: 20px;
  width: 940px;
  height: 240px; }

.classify {
  width: 947px;
  height: 57px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 10px 0 0; }
  .classify h2 {
    float: left;
    width: 100px;
    height: 37px;
    padding: 20px 0 0 20px;
    background: #F1F1F1;
    margin-right: 20px; }
  .classify ul {
    float: left; }
    .classify ul li {
      float: left;
      margin-right: 20px; }
      .classify ul li a {
        display: block;
        height: 57px;
        line-height: 57px;
        font-size: 12px; }

.list_brand {
  width: 947px;
  height: 129px;
  border-bottom: 1px solid #ccc; }
  .list_brand h2 {
    float: left;
    width: 100px;
    height: 109px;
    padding: 20px 0 0 20px;
    background: #F1F1F1; }
  .list_brand ul {
    float: left;
    width: 807px;
    height: 119px;
    padding-left: 20px;
    padding-top: 10px; }
    .list_brand ul li {
      float: left;
      margin-right: 30px; }
      .list_brand ul li a {
        display: block;
        height: 37px;
        line-height: 37px;
        font-size: 12px; }
    .list_brand ul .first a {
      color: white;
      background: #008000;
      padding: 0 10px; }

.lc_title {
  width: 951px;
  height: 50px;
  border-top: 2px solid #008000;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #F1F1F1;
  margin: 10px 0 15px; }
  .lc_title h2 {
    font-size: 14px;
    float: left;
    width: 96px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border-right: 1px solid #F1F1F1;
    cursor: pointer; }
  .lc_title .titleL {
    float: right;
    width: 310px;
    height: 47px; }
    .lc_title .titleL h3 {
      float: left;
      height: 47px;
      width: 100px;
      line-height: 47px;
      font-size: 12px; }
      .lc_title .titleL h3 i {
        color: #199733; }
    .lc_title .titleL h4 {
      float: right;
      height: 37px;
      padding-top: 10px; }
      .lc_title .titleL h4 a {
        float: left;
        display: block;
        width: 52px;
        height: 22px;
        border: 1px solid #eee;
        padding-top: 10px; }
        .lc_title .titleL h4 a .iL {
          display: block;
          width: 7px;
          height: 11px;
          margin: 0 auto;
          background: url(../images/icon_page.png) -26px -66px no-repeat; }
        .lc_title .titleL h4 a .iR {
          display: block;
          width: 7px;
          height: 11px;
          margin: 0 auto;
          background: url(../images/icon_page.png) -42px -47px no-repeat; }

.list_content {
  width: 950px;
  overflow: hidden; }
  .list_content ul {
    position: relative;
    left: -10px;
    width: 970px;
    overflow: hidden; }
    .list_content ul li:hover {
      border: 1px solid #008000; }
      .list_content ul li:hover .li_hover {
        display: block; }
    .list_content ul li {
      position: relative;
      margin: 0 10px 15px;
      border: 1px  solid #F1F1F1;
      float: left;
      width: 220px;
      height: 360px; }
      .list_content ul li .li_hover {
        display: none;
        left: 0;
        top: 200px;
        width: 220px;
        height: 30px;
        background: #1EAA39;
        position: absolute; }
        .list_content ul li .li_hover h5, .list_content ul li .li_hover h6 {
          float: left;
          width: 110px;
          height: 30px; }
          .list_content ul li .li_hover h5 i, .list_content ul li .li_hover h6 i {
            float: left;
            display: block;
            width: 9px;
            height: 9px;
            background: url(../images/jump_cata.jpg) no-repeat;
            margin: 10px 10px 0; }
          .list_content ul li .li_hover h5 span, .list_content ul li .li_hover h6 span {
            float: left;
            line-height: 30px;
            color: white;
            font-size: 12px; }
        .list_content ul li .li_hover h6 {
          float: right; }
          .list_content ul li .li_hover h6 i {
            float: right; }
          .list_content ul li .li_hover h6 span {
            float: right;
            margin-right: 10px; }
      .list_content ul li img {
        width: 220px;
        height: 220px; }
      .list_content ul li h2 {
        color: red;
        font-size: 20px;
        margin: 20px 0 10px 20px; }
      .list_content ul li p {
        width: 198px;
        margin-bottom: 10px;
        font-size: 12px;
        margin-left: 10px; }
      .list_content ul li h4 {
        width: 74px;
        height: 20px;
        border: 1px solid #199733;
        margin-left: 10px; }
        .list_content ul li h4 i {
          float: left;
          width: 20px;
          height: 20px;
          background: #199733 url(../images/favicon.ico) no-repeat 0 2px; }
        .list_content ul li h4 span {
          float: left;
          width: 54px;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          text-align: center;
          color: #1A9733; }

.contentR {
  float: right;
  width: 215px;
  overflow: hidden;
  padding-top: 25px;
  padding-left: 15px;
  border-left: 1px solid #ccc; }
  .contentR h2 {
    font-size: 20px;
    color: #1A9634;
    font-weight: bold;
    margin-bottom: 10px; }
  .contentR ul li {
    width: 190px;
    height: 218px;
    margin-bottom: 10px; }
    .contentR ul li img {
      width: 150px;
      height: 150px; }
    .contentR ul li p {
      width: 144px;
      margin-left: 15px;
      font-size: 12px;
      margin-bottom: 5px; }
    .contentR ul li h5 {
      width: 144px;
      height: 26px;
      line-height: 26px;
      color: red;
      font-size: 20px;
      margin-left: 15px; }

.page {
  width: 950px;
  height: 105px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 50px; }
  .page a:hover {
    border: 1px solid #199733; }
  .page a {
    float: left;
    display: block;
    margin: 0 5px; }
  .page .btnL, .page .btnR {
    width: 64px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 13px; }
    .page .btnL span, .page .btnR span {
      float: left;
      margin-left: 2px; }
    .page .btnL i, .page .btnR i {
      float: left;
      display: block;
      width: 7px;
      height: 11px;
      margin: 15px auto 0;
      background: url(../images/icon_page.png) -26px -66px no-repeat; }
  .page .btnR i {
    background: url(../images/icon_page.png) -42px -47px no-repeat; }
  .page .page1 {
    width: 39px;
    height: 39px;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 39px;
    text-align: center; }
  .page em {
    float: left;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 20px; }
  .page h2 {
    margin-top: 5px;
    float: left;
    width: 150px;
    height: 37px;
    line-height: 37px;
    font-size: 12px;
    color: #ccc; }
    .page h2 input {
      width: 40px;
      height: 30px;
      border: 1px solid #ddd;
      border-radius: 5px; }
  .page .btn {
    margin-top: 5px;
    float: left;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px; }

#FrameHelp {
  height: 98px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  margin: 40px 0; }

.help {
  height: 70px;
  padding-top: 30px; }
  .help dl {
    width: 290px;
    height: 70px;
    padding-left: 10px;
    float: left; }
    .help dl dt {
      width: 46px;
      height: 46px;
      float: left; }
    .help dl dd {
      float: left;
      margin-left: 10px; }
      .help dl dd h2 {
        font-size: 18px;
        color: #444;
        margin-bottom: 10px; }
      .help dl dd h3 {
        font-size: 14px;
        color: #999;
        font-family: "微软雅黑"; }

.help-catalog {
  height: 244px; }
  .help-catalog ul {
    width: 1200px;
    height: 274px; }
    .help-catalog ul li {
      float: left;
      width: 200px; }
      .help-catalog ul li h5 {
        font-size: 16px;
        color: #199733; }
      .help-catalog ul li a {
        font-size: 12px;
        display: block;
        width: 200px;
        height: 24px;
        line-height: 24px; }

#FrameLinks {
  height: 92px;
  border-top: 1px solid #ccc; }

.links {
  width: 1160px;
  height: 52px;
  padding: 20px;
  line-height: 35px; }
  .links a {
    float: left;
    font-size: 14px;
    color: gray;
    margin-right: 15px; }

.register {
  height: 67px;
  font-size: 12px;
  text-align: center;
  line-height: 20px; }

.footer {
  width: 888px;
  padding-left: 312px;
  margin-bottom: 100px; }
  .footer img {
    float: left;
    margin-right: 15px; }

.quick-links {
  z-index: 99;
  width: 40px;
  height: 230px;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top: 0; }
  .quick-links i {
    display: block;
    margin: 15px auto; }
  .quick-links .buy-cart {
    width: 16px;
    height: 15px;
    background: url(../images/right_floating.png) -10px -164px no-repeat; }
  .quick-links .buy-num {
    width: 28px;
    height: 29px;
    background: url(../images/right_floating.png) -32px -130px no-repeat; }
  .quick-links .qq {
    width: 19px;
    height: 18px;
    background: url(../images/right_floating.png) -10px -108px; }
  .quick-links .phone {
    width: 19px;
    height: 18px;
    background: url(../images/right_floating.png) -10px -136px; }
  .quick-links .erweima {
    width: 19px;
    height: 18px;
    background: url(../images/right_floating.png) -39px -108px; }
  .quick-links .buy {
    display: block;
    width: 40px;
    height: 80px;
    padding-top: 10px; }
  .quick-links .buy:hover {
    background: #199733; }
    .quick-links .buy:hover .buy-cart {
      background: url(../images/right_floating.png) -36px -164px no-repeat; }
  .quick-links .a-qq {
    display: block;
    width: 40px;
    height: 28px;
    padding-top: 12px;
    position: relative; }
    .quick-links .a-qq .qq {
      margin: 0 auto; }
    .quick-links .a-qq div {
      display: none;
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: white;
      background: #1A9634;
      position: absolute;
      top: 0;
      right: 40px; }
  .quick-links .a-qq:hover {
    background: #1A9634; }
    .quick-links .a-qq:hover div {
      display: block; }
  .quick-links .a-phone {
    display: block;
    width: 40px;
    height: 25px;
    padding-top: 5px;
    position: relative; }
    .quick-links .a-phone div {
      display: none;
      width: 200px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
      background: #1A9634;
      position: absolute;
      top: 0;
      right: 40px; }
    .quick-links .a-phone .phone {
      margin: 0 auto; }
  .quick-links .a-phone:hover {
    background: #1A9634; }
    .quick-links .a-phone:hover div {
      display: block; }
  .quick-links .a-erweima {
    display: block;
    width: 40px;
    height: 25px;
    padding-top: 5px;
    margin-top: 10px;
    position: relative; }
    .quick-links .a-erweima img {
      position: absolute;
      top: -114px;
      right: -186px; }
    .quick-links .a-erweima .erweima {
      margin: 0 auto; }
  .quick-links .a-erweima:hover {
    background: #1A9634; }

.to-top {
  position: fixed;
  right: 0;
  top: 300px;
  width: 40px;
  height: 30px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99; }
  .to-top i {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url(../images/right_floating.png) -10px -78px no-repeat; }

.to-top:hover {
  background: #1A9634; }

/*# sourceMappingURL=list.css.map */
